/* ===============
 * Color variables
 * =============== */

$red-color: #76252B;
$light-red-color: lighten($red-color, 4%);
$dark-red-color: darken($red-color, 10%);
$gold-color: #D2AF6D;
$grey-color: #E0E0E0;
$dark-grey-color: darken($grey-color, 30%);

/* ======================
 * Transparency variables
 * ====================== */

$full-transparent: rgba(0, 0, 0, 0);
$half-transparent: rgba(0, 0, 0, 0.5);

/* ======================
 * Device width variables
 * ====================== */

$screen-xxs-max: 320px;
$screen-xs-min: 321px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;
$screen-lg-max: 1585px;
$screen-xlg-min: 1586px;

/* =====================
 * Default tag attribute 
 * ===================== */

* {
	margin: 0;
	padding: 0;

	// Prevent from blinking when clicked
	-webkit-tap-highbase-color-light: $full-transparent;
}

html, body { 
	width: 100%;
	height: 100%;
}

body {
	background-color: $red-color;

	// Disable double-tap-to-zoom in IE 10, 11 for fast-click
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

textarea {
	resize: none;
}

a, a:focus, a:hover, a:active, a:visited {
	text-decoration: none !important;
	cursor: pointer;
	color: inherit;
	outline: 0;
}

/* ======
 * Header
 * ====== */

.header {
	position: fixed; 
	top: 0; 
	left: 0; 
	display: block; 
	width: 100%; 
	padding: 10px 0;
	background-color: $dark-red-color; 
	font-weight: 700; 
	font-size: 2.0em; 
	color: $gold-color;
	text-align: center; 
	z-index: 10; 

	.header__content {
		position: relative;
		max-width: 1000px;
		margin: 0 auto;
		
		.header__back-btn {
			position: absolute;
			top: 4px;
			left: 10px;
			padding: 2px 3px 5px 5px;
			border: 2px solid $gold-color;
			border-radius: 4px;
			font-size: 0.8em;
			color: $gold-color;
			cursor: pointer;
		}
		
		.header__dropdown {
			position: absolute;
			top: -2px;
			right: 10px;
			padding: 0;
			
			.dropdown-toggle {
				padding: 3px 7px 0 7px; 
				border: 2px solid $gold-color;
				background-color: $dark-red-color;
				font-size: 0.6em;
				color: $gold-color;
				
				@media screen and (min-width: $screen-sm-min) {
					font-size: 0.7em;
				}

				.glyphicon {
					font-weight: 700;
				}
			}
			
			.dropdown-menu {
				background-color: $dark-red-color;
				
				a {
					color: $gold-color;
				}
			}
		}
	}
}

/* ==============
 * Main container
 * ============== */

#main {
	padding: 60px 0;
}

/* ==========
 * Page title
 * ========== */

.page__title {
	display: block; 
	width: 100%; 
	padding: 10px 0;
	background-color: $red-color; 
	font-weight: 700; 
	font-size: 2.0em; 
	color: white;
	text-align: center; 
}

/* ===================
 * Menu navigation bar
 * =================== */

.menu__navbar {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 25px;

	.menu__list {
		width: 100%;
		max-width: 700px;
		margin: 0 auto;
		
		.menu {
			position: relative;
			display: block;
			padding: 0;
			text-align: center;
			
			.menu__title {
				position: absolute;
				top: 5px;
				left: 5px;
				font-size: 0.9em;
				color: white;
			}
			
			.menu__image {
				width: 100%;
			}
		}
	}
}

/* ======
 * Footer
 * ====== */

.footer--relative {
	display: block; 
	width: 100%; 
	padding: 15px 10px;
	background-color: $dark-red-color; 
	font-weight: 700; 
	font-size: 1.0em;
	color: white;
	text-align: center;

	.footer__btn-group {
		max-width: 520px;
		margin: 0 auto 15px auto;
		
		.footer__btn {
			display: block;
			max-width: 520px;
			margin: 0 auto;
			
			button {
				border: none;
				background-color: $red-color;
				font-weight: 500;
				font-size: 1.0em;
				color: white;
			}
		}
	}

	.footer__license {
		color: $dark-grey-color;
	}
}

.footer--fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	padding: 5px 0;
	background-color: $dark-red-color;
	font-weight: 700;
	font-size: 1.0em;
	color: white;
	text-align: center;
	z-index: 10;
	
	.footer__social-media {
		max-width: 300px;
		margin: 0 auto;
		
		.social-media__icon {
			width: 12%;
			margin: 8px;
		}
	}
}

/* ============
 * Comment list
 * ============ */

.comment-list {
	max-width: 700px;
	margin: 0 auto;

	.comment {
		padding: 25px 10px 35px 10px; 
		border-top: 1px solid white;
		
		.comment__nickname {
			font-weight: 700;
			font-size: 1.5em;
			color: white;
			text-align: center;
		}
		
		.comment__content {
			margin: 20px 0; 
			line-height: 1.5em; 
			white-space: pre-wrap;
			font-weight: 300;
			font-size: 1.2em;
			color: white;
			text-align: left;
		}
		
		.comment__additional-info {
			font-weight: 300;
			font-size: 1.0em;
			color: $grey-color;
			text-align: center;
		}
	}
}

/* ==========================
 * Landing page - fullpage.js
 * ========================== */

#fullpage-container {

	.section {
		text-align: center;
		background-color: $red-color; 
		color: white;
		
		#microphone-icon {
			width: 23%;
			max-width: 100px; 
			margin-bottom: 10px;
		}
		
		#bullhorn-icon {
			margin-bottom: 20px;
			font-size: 4.0em; 
			color: white;
		}
		
		.section__phrase {
			max-width: 600px;
			margin: 0 auto;
			font-size: 2.0em; 
			font-weight: 700; 
			text-align: center;
			
			@media screen and (min-width: $screen-sm-min) {
				font-size: 3.2em; 
			}
		}
		
		.section__contents-box {
			padding: 20px 0 30px 0;
			border-top: 5px solid $grey-color;
			border-bottom: 5px solid $grey-color;
		}
			
		.section__contents--sm {
			margin: 10px 0;
			font-size: 2.0em; 
			font-weight: 700; 
		}
		
		.section__contents--lg {
			font-size: 4.0em; 
			font-weight: 700;
			
			@media screen and (min-width: $screen-sm-min) {
				font-size: 5.5em; 
			}
		}
	}
}

/* =====================
 * Landing page - Footer
 * ===================== */

.landing-page__footer {
	position: fixed; 
	bottom: 65px; 
	left: 0; 
	display: block; 
	width: 100%; 
	text-align: center; 
	cursor: pointer;
	z-index: 10; 

	.footer__help-message {
		display: inline-block; 
		margin-bottom: 10px; 
		font-size: 1.1em; 
		font-style: italic; 
		color: $grey-color; 
	}

	.footer__chevron {
		font-weight: 700; 
		font-size: 2.0em;
		color: white;
	}
}

/* =========
 * Menu page
 * ========= */

.menu__page {
	padding-bottom: 40px;
	background-color: $red-color;

	.menu__description {
		padding: 10px 0;
		font-weight: 500; 
		font-size: 1.35em;
		color: white;
		text-align: center;
		
		@media screen and (min-width: $screen-sm-min) {
			padding: 20px 0;
		}
	}
	
	.menu__list {
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		
		.menu {
			position: relative;
			padding: 0;
			
			.menu__image {
				max-width: 100%;
				width: 100%;
			}
			
			.menu__title {
				position: absolute;
				top: 15px;
				left: 15px;
				display: inline;
				font-weight: 700;
				font-size: 1.5em;
				color: white;
			}
		}
	}
}

/* ============
 * Records page
 * ============ */

.records__tab-group {
	padding-bottom: 5px;
	background-color: $red-color;
	
	.tab-group {
		margin: 0 auto;
		max-width: 560px;
		
		.tab-toggle {
			padding: 10px 5px;
			
			.active {
				border: 1px solid white;
				background-color: $light-red-color; 
				color: white;
			}
		}
	}
}

.records__tab-content {
	background-color: $red-color;
	
	.records__youtube {
		text-align: center;
		
		iframe {
			max-width: 100%;
		}
	}

	.records__tab-title {
		padding: 10px 0 15px 0;
		font-weight: 700;
		font-size: 1.5em;
		color: white;
		text-align: center;
	}
}

/* =============
 * Category page
 * ============= */

.category__content {
	background-color: $red-color;
}

/* ===========
 * Search page
 * =========== */

#search__form {
	max-width: 700px;
	margin: 0 auto;
	padding: 10px;
}

.search__keyword {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 10px 30px 10px;
	font-weight: 500;
	font-size: 1.0em;
	color: $grey-color;
	text-align: center;
}

.search__result {
	max-width: 700px;
	margin: 0 auto;
	padding: 10px;
	border-top: 1px solid white;
	font-weight: 500;
	font-size: 1.5em;
	color: white;
	text-align: center;
}

/* ============
 * Loading icon
 * ============ */

#loading-icon  {
	position: fixed;
	width: 60px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 white;
	z-index: 9999;
  -webkit-animation: loading-anim 1s linear infinite;
  -moz-animation: loading-anim 1s linear infinite;
  -ms-animation: loading-anim 1s linear infinite;
  -o-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;

	@media screen and (min-width: $screen-md-min) {
		width: 120px;
		height: 120px;
		top: 50%;
		left: 50%;
		margin-top: -60px;
		margin-left: -60px;
	}
}

/* ===============================
 * Loading icon - 3rd party 
 * Generated at http://loading.io/
 * =============================== */

@-webkit-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ==========================
 * Blinking cursor - Typed.js
 * ========================== */

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
