/* ===============
 * Color variables
 * =============== */
/* ======================
 * Transparency variables
 * ====================== */
/* ======================
 * Device width variables
 * ====================== */
/* =====================
 * Default tag attribute 
 * ===================== */
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highbase-color-light: transparent; }

html, body {
  width: 100%;
  height: 100%; }

body {
  opacity: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

textarea {
  resize: none; }

a, a:focus, a:hover, a:active, a:visited {
  text-decoration: none !important;
  cursor: pointer;
  color: inherit;
  outline: 0; }

/* =========================
 * Main page - Intro section 
 * ========================= */
.intro .intro-image {
  width: 100%;
  max-height: 500px; }
.intro .intro-context {
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0 auto;
  font-weight: 700;
  color: white;
  text-align: center;
  z-index: 10; }
  @media screen and (max-width: 320px) {
    .intro .intro-context {
      top: 5px; } }
  @media screen and (min-width: 321px) and (max-width: 767px) {
    .intro .intro-context {
      top: 10px; } }
  @media screen and (min-width: 768px) {
    .intro .intro-context {
      top: 30px; } }
  @media screen and (max-width: 320px) {
    .intro .intro-context .intro-context--roof {
      width: 70%; } }
  @media screen and (min-width: 321px) and (max-width: 767px) {
    .intro .intro-context .intro-context--roof {
      width: 75%; } }
  @media screen and (min-width: 768px) {
    .intro .intro-context .intro-context--roof {
      width: 80%;
      max-width: 700px; } }
  .intro .intro-context .intro-context--title {
    width: 80%;
    margin: 0 auto; }
    @media screen and (max-width: 320px) {
      .intro .intro-context .intro-context--title {
        padding: 5px;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        font-size: 2.3em; } }
    @media screen and (min-width: 321px) and (max-width: 767px) {
      .intro .intro-context .intro-context--title {
        padding: 6px;
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        font-size: 2.5em; } }
    @media screen and (min-width: 768px) {
      .intro .intro-context .intro-context--title {
        max-width: 500px;
        padding: 15px;
        border-top: 9px solid white;
        border-bottom: 9px solid white;
        font-size: 3.5em; } }
  .intro .intro-context .intro-context--subtitle {
    width: 80%;
    margin: 10px auto; }
    @media screen and (max-width: 320px) {
      .intro .intro-context .intro-context--subtitle {
        font-size: 1.5em; } }
    @media screen and (min-width: 321px) and (max-width: 767px) {
      .intro .intro-context .intro-context--subtitle {
        font-size: 1.5em; } }
    @media screen and (min-width: 768px) {
      .intro .intro-context .intro-context--subtitle {
        max-width: 500px;
        font-size: 2.0em; } }
  .intro .intro-context .intro-context--timer {
    width: 80%;
    margin: 10px auto; }
    @media screen and (max-width: 320px) {
      .intro .intro-context .intro-context--timer {
        font-size: 1.5em; } }
    @media screen and (min-width: 321px) and (max-width: 767px) {
      .intro .intro-context .intro-context--timer {
        font-size: 1.5em; } }
    @media screen and (min-width: 768px) {
      .intro .intro-context .intro-context--timer {
        max-width: 500px;
        font-size: 2.0em; } }

/* =======================
 * Main page - Description 
 * ======================= */
.description {
  padding: 20px 0;
  line-height: 1.6em;
  background-color: #76252B;
  font-weight: 700;
  color: #D2AF6D;
  text-align: center; }
  @media screen and (max-width: 320px) {
    .description {
      font-size: 1.1em; } }
  @media screen and (min-width: 321px) and (max-width: 767px) {
    .description {
      font-size: 1.2em; } }
  @media screen and (min-width: 768px) {
    .description {
      font-size: 1.3em; } }

/* ===============================
 * Main page - Spoken comment list 
 * =============================== */
.spoken-comment {
  background-color: #D2AF6D;
  font-weight: 700;
  color: #76252B;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .spoken-comment {
      padding: 10px; } }
  @media screen and (min-width: 768px) {
    .spoken-comment {
      padding: 20px; } }
  @media screen and (max-width: 767px) {
    .spoken-comment .spoken-comment--title {
      font-size: 1.8em; } }
  @media screen and (min-width: 768px) {
    .spoken-comment .spoken-comment--title {
      font-size: 2.5em; } }
  .spoken-comment .spoken-comment--link {
    margin: 15px 0 10px 0;
    border: none;
    background-color: #76252B;
    color: white; }
  .spoken-comment .spoken-comment--list {
    width: 80%;
    max-width: 500px;
    margin: 10px auto 0 auto; }
    .spoken-comment .spoken-comment--list .comment .comment-content {
      line-height: 1.5em;
      white-space: pre-wrap;
      font-weight: 700; }
      @media screen and (max-width: 767px) {
        .spoken-comment .spoken-comment--list .comment .comment-content {
          font-size: 1.4em; } }
      @media screen and (min-width: 768px) {
        .spoken-comment .spoken-comment--list .comment .comment-content {
          font-size: 1.8em; } }

/* ============================
 * Main page - User information 
 * ============================= */
.user-info {
  padding: 15px 0;
  background-color: #76252B;
  font-weight: 700;
  color: white;
  text-align: center; }
  @media screen and (max-width: 320px) {
    .user-info {
      font-size: 1.8em; } }
  @media screen and (min-width: 321px) and (max-width: 767px) {
    .user-info {
      font-size: 1.9em; } }
  @media screen and (min-width: 768px) {
    .user-info {
      font-size: 3.0em; } }

/* ========================
 * Main page - Comment form 
 * ======================== */
#comment-form--container {
  background-color: #D2AF6D;
  color: #76252B; }
  #comment-form--container #comment-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px; }
    #comment-form--container #comment-form #captcha-group {
      margin-bottom: 10px; }
    #comment-form--container #comment-form #captcha-image--container {
      padding: 0; }
    #comment-form--container #comment-form #captcha-refresh {
      cursor: pointer; }
    #comment-form--container #comment-form #captcha-value {
      height: 44px; }
    #comment-form--container #comment-form #comment-form--submit {
      background-color: #76252B;
      border: none; }

/* ========================
 * Main page - Social media
 * ======================== */
.social-media {
  background-color: #76252B;
  color: white;
  text-align: center; }
  .social-media .social-media--youtube {
    max-width: 100%; }

/* ===================================
 * Main page - Realtime switch buttons
 * =================================== */
#realtime-switch--container {
  padding: 10px 0px;
  border-bottom: 1px solid white;
  background-color: #76252B;
  color: white;
  text-align: center; }
  #realtime-switch--container #realtime-switch--group.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -118px; }

/* ===============================
 * Main page - Recent comment list
 * =============================== */
#recent-comment--list {
  background-color: #76252B;
  color: white; }
  #recent-comment--list .comment {
    padding: 20px 10px;
    border-bottom: 1px solid white; }
    #recent-comment--list .comment .comment-nickname {
      margin-bottom: 25px;
      font-size: 1.3em;
      text-align: center; }
    #recent-comment--list .comment .comment-content {
      max-width: 700px;
      margin: 0 auto;
      line-height: 1.5em;
      font-size: 1.3em;
      text-align: left;
      white-space: pre-wrap; }

/* ==================
 * Desk page - Header 
 * ================== */
.desk-header .desk-header--image__xs {
  width: 100%;
  margin: 0 auto;
  z-index: 5; }
.desk-header .desk-header--image__lg {
  width: 100%;
  margin: 0 auto;
  max-height: 800px;
  z-index: 5; }
.desk-header .desk-header--container {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  color: white;
  text-align: center;
  z-index: 10; }
  @media screen and (max-width: 767px) {
    .desk-header .desk-header--container {
      top: 110px; } }
  @media screen and (min-width: 768px) {
    .desk-header .desk-header--container {
      top: 170px; } }
  .desk-header .desk-header--container .desk-header--title {
    padding: 15px 0;
    background-color: #34495E;
    font-weight: 700;
    color: white; }
    @media screen and (max-width: 767px) {
      .desk-header .desk-header--container .desk-header--title {
        font-size: 2.5em; } }
    @media screen and (min-width: 768px) {
      .desk-header .desk-header--container .desk-header--title {
        font-size: 3.0em; } }

/* ===================
 * Desk page - Context
 * =================== */
.desk-context .desk-context--title {
  max-width: 700px;
  text-align: left;
  font-weight: 700;
  color: white; }
  @media screen and (max-width: 320px) {
    .desk-context .desk-context--title {
      margin: -150px auto 0 auto;
      font-size: 1.9em; } }
  @media screen and (min-width: 321px) and (max-width: 767px) {
    .desk-context .desk-context--title {
      margin: -150px auto 0 auto;
      font-size: 2.0em; } }
  @media screen and (min-width: 768px) {
    .desk-context .desk-context--title {
      margin: -180px auto 0 auto;
      font-size: 2.5em; } }
.desk-context .desk-context--link {
  width: 100%;
  color: white;
  cursor: pointer;
  text-align: center;
  z-index: 10; }
  @media screen and (max-width: 767px) {
    .desk-context .desk-context--link {
      margin-top: -15px;
      font-size: 2.0em; } }
  @media screen and (min-width: 768px) {
    .desk-context .desk-context--link {
      margin-top: -30px;
      font-size: 2.5em; } }

/* ==========================
 * Desk page - Navigation bar
 * ========================== */
.desk-navbar {
  width: 100%;
  height: 55px;
  text-align: center; }
  .desk-navbar .desk-navbar--container {
    width: 100%;
    padding: 10px 0;
    background-color: #34495E;
    font-size: 1.8em;
    font-weight: 700;
    color: white;
    z-index: 100; }
    .desk-navbar .desk-navbar--container.fixed {
      position: fixed;
      top: 0;
      left: 0; }
    .desk-navbar .desk-navbar--container .desk-navbar--title {
      max-width: 700px;
      margin: 0 auto; }
      .desk-navbar .desk-navbar--container .desk-navbar--title .desk-navbar--home-link {
        margin: -10px;
        padding: 10px; }

/* =======================
 * Desk page - Search form
 * ======================= */
.desk-main {
  background-color: #F0EDDF; }
  .desk-main .desk-main--alert-message {
    margin-top: 20px;
    text-align: center; }
  .desk-main #search-form {
    max-width: 700px;
    margin: 20px auto 0 auto; }

/* ===============================
 * Desk page - Spoken comment list
 * =============================== */
#spoken-comment-list {
  max-width: 700px;
  margin: 0 auto; }
  #spoken-comment-list .comment {
    padding: 10px;
    border-top: 1px solid white; }
    #spoken-comment-list .comment .comment-nickname {
      margin-bottom: 25px;
      font-weight: 700;
      text-align: center; }
    #spoken-comment-list .comment .comment-content {
      line-height: 1.5em;
      white-space: pre-wrap; }
    #spoken-comment-list .comment .comment-additional-info {
      padding: 1px;
      background-color: #E0E0E0;
      text-align: center; }

#see-more-comments {
  max-width: 700px;
  margin: 15px auto 0 auto;
  font-weight: 700;
  color: white; }

/* ==================
 * Desk page - Footer
 * ================== */
.desk-footer {
  position: relative; }
  .desk-footer .desk-footer--image {
    width: 100%;
    max-height: 300px;
    margin: 0 auto;
    z-index: 5; }
  .desk-footer .desk-footer--btn {
    position: absolute;
    left: 50%;
    margin-left: -77px;
    color: #D2AF6D;
    background-color: #76252B;
    font-weight: 700;
    z-index: 10; }
    @media screen and (max-width: 767px) {
      .desk-footer .desk-footer--btn {
        top: 25px; } }
    @media screen and (min-width: 768px) {
      .desk-footer .desk-footer--btn {
        top: 50px; } }

/* ======
 * Header
 * ====== */
.header {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #4f191d;
  font-weight: 700;
  font-size: 2.0em;
  color: #D2AF6D;
  text-align: center;
  z-index: 10; }
  .header.header--fixed {
    position: fixed;
    top: 0;
    left: 0; }

/* ==========
 * Page title
 * ========== */
.page__title {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #76252B;
  font-weight: 700;
  font-size: 1.5em;
  color: white;
  text-align: center; }

/* ===================
 * Menu navigation bar
 * =================== */
.menu__navbar {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: #76252B; }
  .menu__navbar .menu__list {
    width: 100%;
    max-width: 700px;
    margin: 0 auto; }
    .menu__navbar .menu__list .menu {
      position: relative;
      display: block;
      padding: 0;
      text-align: center; }
      .menu__navbar .menu__list .menu .menu__title {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 0.9em;
        color: white; }
      .menu__navbar .menu__list .menu .menu__image {
        width: 100%; }
      .menu__navbar .menu__list .menu .menu__glyphicon {
        margin-top: 30px;
        font-size: 3.0em;
        color: white; }
        @media screen and (min-width: 768px) {
          .menu__navbar .menu__list .menu .menu__glyphicon {
            margin-top: 40px;
            font-size: 4.0em; } }

/* ======
 * Footer
 * ====== */
.footer {
  display: block;
  width: 100%;
  padding: 15px 0;
  background-color: #D2AF6D;
  font-weight: 700;
  text-align: center; }
  .footer .footer__menu-link {
    display: block;
    max-width: 520px;
    margin: 0 auto; }
    .footer .footer__menu-link button {
      border: none;
      background-color: #b98d39;
      font-weight: 500;
      color: white; }
  .footer .footer__license-text {
    margin: 15px 0; }
  .footer .footer__license-image {
    width: 100px; }

/* ============
 * Comment list
 * ============ */
.comment-list {
  max-width: 700px;
  margin: 0 auto; }
  .comment-list .comment {
    padding: 10px;
    border-top: 1px solid white; }
    .comment-list .comment .comment__nickname {
      font-weight: 700;
      font-size: 1.5em;
      color: white;
      text-align: center; }
    .comment-list .comment .comment__content {
      margin: 20px 0;
      line-height: 1.5em;
      white-space: pre-wrap;
      font-weight: 500;
      font-size: 1.2em;
      color: white;
      text-align: left; }
    .comment-list .comment .comment__additional-info {
      font-weight: 500;
      font-size: 1.0em;
      color: #E0E0E0;
      text-align: center; }

/* ==========================
 * Landing page - fullpage.js
 * ========================== */
.fullpage-container .section {
  text-align: center;
  background-color: #76252B;
  color: white; }
  .fullpage-container .section #microphone-icon {
    width: 23%;
    max-width: 200px;
    margin-bottom: 20px; }
  .fullpage-container .section #bullhorn-icon {
    margin-bottom: 20px;
    font-size: 4.0em;
    color: white; }
  .fullpage-container .section .section__phrase {
    padding: 20px 0;
    font-size: 2.3em;
    font-weight: 700;
    font-style: italic;
    text-align: left; }
    @media screen and (min-width: 992px) {
      .fullpage-container .section .section__phrase {
        text-align: center; } }
  .fullpage-container .section .section__contents--sm {
    margin-bottom: 20px;
    font-size: 2.0em;
    font-weight: 700; }
  .fullpage-container .section .section__contents--lg {
    font-size: 5.5em;
    font-weight: 700; }

/* =====================
 * Landing page - Footer
 * ===================== */
.landing-page__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 10; }
  .landing-page__footer .footer__help-message {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-style: italic;
    color: #E0E0E0; }
  .landing-page__footer .footer__chevron {
    font-weight: 700;
    font-size: 2.0em;
    color: white; }

/* =========
 * Menu page
 * ========= */
.menu__page {
  background-color: #76252B; }
  .menu__page .menu__description {
    padding: 10px 0;
    font-weight: 500;
    font-size: 1.35em;
    color: white;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .menu__page .menu__description {
        padding: 20px 0; } }
  .menu__page .menu__list {
    width: 100%;
    max-width: 700px;
    margin: 0 auto; }
    .menu__page .menu__list .menu {
      position: relative;
      padding: 0; }
      .menu__page .menu__list .menu .menu__image {
        max-width: 100%;
        width: 100%; }
      .menu__page .menu__list .menu .menu__title {
        position: absolute;
        top: 15px;
        left: 15px;
        display: inline;
        font-weight: 700;
        font-size: 1.5em;
        color: white; }
    .menu__page .menu__list .menu--bg {
      padding: 0;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .menu__page .menu__list .menu--bg {
          margin: 30px 0;
          border: 5px solid white;
          border-radius: 10px; } }
      .menu__page .menu__list .menu--bg .menu__title {
        margin: 15px 0 0 15px;
        font-size: 1.5em;
        color: white;
        text-align: left; }
        @media screen and (min-width: 768px) {
          .menu__page .menu__list .menu--bg .menu__title {
            font-size: 1.8em;
            text-align: center; } }
      .menu__page .menu__list .menu--bg .menu__glyphicon {
        margin: 10px 0 0 0;
        font-size: 6.0em;
        color: white; }
        @media screen and (min-width: 768px) {
          .menu__page .menu__list .menu--bg .menu__glyphicon {
            margin: 20px 0 30px 10px; } }

/* ============
 * Records page
 * ============ */
.records__tab-group {
  padding-bottom: 5px;
  background-color: #76252B; }
  .records__tab-group .tab-group {
    margin: 0 auto;
    max-width: 560px; }
    .records__tab-group .tab-group .tab-toggle {
      padding: 10px 5px; }
      .records__tab-group .tab-group .tab-toggle .active {
        border: 1px solid white;
        background-color: #862a31;
        color: white; }

.records__tab-content {
  background-color: #76252B; }
  .records__tab-content .records__youtube {
    text-align: center; }
    .records__tab-content .records__youtube iframe {
      max-width: 100%; }
  .records__tab-content .records__tab-title {
    padding: 10px 0 15px 0;
    font-weight: 700;
    font-size: 1.5em;
    color: white;
    text-align: center; }

/* =============
 * Category page
 * ============= */
.category__content {
  background-color: #76252B; }

/* ========================
 * Social media share group
 * ======================== */
#social-media__share-group {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000; }
  #social-media__share-group button {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: #E0E0E0;
    font-weight: 700;
    font-size: 1.0em;
    color: #76252B;
    text-align: center; }
  #social-media__share-group li {
    margin: 10px 0;
    font-size: 1.2em; }
    #social-media__share-group li img {
      width: 30px;
      margin-right: 10px; }

/* =========================
 * Social media share button
 * ========================= */
.social-media--btn-group {
  padding: 25px 0;
  text-align: center; }
  .social-media--btn-group .social-media--btn {
    display: inline;
    padding: 7px; }
    .social-media--btn-group .social-media--btn img {
      width: 12%;
      max-width: 50px; }

/* ==================
 * Back to top button
 * ================== */
#back-to-top {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  padding-top: 10px;
  border-radius: 50%;
  font-size: 1.0em;
  background-color: #E0E0E0;
  color: #949494;
  text-align: center;
  cursor: pointer;
  z-index: 100; }

/* ============
 * Loading icon
 * ============ */
#loading-icon {
  position: fixed;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 white;
  z-index: 9999;
  -webkit-animation: loading-anim 1s linear infinite;
  -moz-animation: loading-anim 1s linear infinite;
  -ms-animation: loading-anim 1s linear infinite;
  -o-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite; }
  @media screen and (min-width: 992px) {
    #loading-icon {
      width: 120px;
      height: 120px;
      top: 50%;
      left: 50%;
      margin-top: -60px;
      margin-left: -60px; } }

/* ===============================
 * Loading icon - 3rd party 
 * Generated at http://loading.io/
 * =============================== */
@-webkit-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* ==========================
 * Blinking cursor - Typed.js
 * ========================== */
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=styles.css.map */
