/* ===============
 * Color variables
 * =============== */
/* ======================
 * Transparency variables
 * ====================== */
/* ======================
 * Device width variables
 * ====================== */
/* =====================
 * Default tag attribute 
 * ===================== */
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highbase-color-light: transparent; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background-color: #76252B;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

textarea {
  resize: none; }

a, a:focus, a:hover, a:active, a:visited {
  text-decoration: none !important;
  cursor: pointer;
  color: inherit;
  outline: 0; }

/* ======
 * Header
 * ====== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #4f191d;
  font-weight: 700;
  font-size: 2.0em;
  color: #D2AF6D;
  text-align: center;
  z-index: 10; }
  .header .header__content {
    position: relative;
    max-width: 1000px;
    margin: 0 auto; }
    .header .header__content .header__back-btn {
      position: absolute;
      top: 4px;
      left: 10px;
      padding: 2px 3px 5px 5px;
      border: 2px solid #D2AF6D;
      border-radius: 4px;
      font-size: 0.8em;
      color: #D2AF6D;
      cursor: pointer; }
    .header .header__content .header__dropdown {
      position: absolute;
      top: -2px;
      right: 10px;
      padding: 0; }
      .header .header__content .header__dropdown .dropdown-toggle {
        padding: 3px 7px 0 7px;
        border: 2px solid #D2AF6D;
        background-color: #4f191d;
        font-size: 0.6em;
        color: #D2AF6D; }
        @media screen and (min-width: 768px) {
          .header .header__content .header__dropdown .dropdown-toggle {
            font-size: 0.7em; } }
        .header .header__content .header__dropdown .dropdown-toggle .glyphicon {
          font-weight: 700; }
      .header .header__content .header__dropdown .dropdown-menu {
        background-color: #4f191d; }
        .header .header__content .header__dropdown .dropdown-menu a {
          color: #D2AF6D; }

/* ==============
 * Main container
 * ============== */
#main {
  padding: 60px 0; }

/* ==========
 * Page title
 * ========== */
.page__title {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #76252B;
  font-weight: 700;
  font-size: 2.0em;
  color: white;
  text-align: center; }

/* ===================
 * Menu navigation bar
 * =================== */
.menu__navbar {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 25px; }
  .menu__navbar .menu__list {
    width: 100%;
    max-width: 700px;
    margin: 0 auto; }
    .menu__navbar .menu__list .menu {
      position: relative;
      display: block;
      padding: 0;
      text-align: center; }
      .menu__navbar .menu__list .menu .menu__title {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 0.9em;
        color: white; }
      .menu__navbar .menu__list .menu .menu__image {
        width: 100%; }

/* ======
 * Footer
 * ====== */
.footer--relative {
  display: block;
  width: 100%;
  padding: 15px 10px;
  background-color: #4f191d;
  font-weight: 700;
  font-size: 1.0em;
  color: white;
  text-align: center; }
  .footer--relative .footer__btn-group {
    max-width: 520px;
    margin: 0 auto 15px auto; }
    .footer--relative .footer__btn-group .footer__btn {
      display: block;
      max-width: 520px;
      margin: 0 auto; }
      .footer--relative .footer__btn-group .footer__btn button {
        border: none;
        background-color: #76252B;
        font-weight: 500;
        font-size: 1.0em;
        color: white; }
  .footer--relative .footer__license {
    color: #949494; }

.footer--fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 5px 0;
  background-color: #4f191d;
  font-weight: 700;
  font-size: 1.0em;
  color: white;
  text-align: center;
  z-index: 10; }
  .footer--fixed .footer__social-media {
    max-width: 300px;
    margin: 0 auto; }
    .footer--fixed .footer__social-media .social-media__icon {
      width: 12%;
      margin: 8px; }

/* ============
 * Comment list
 * ============ */
.comment-list {
  max-width: 700px;
  margin: 0 auto; }
  .comment-list .comment {
    padding: 30px 10px 40px 10px;
    border-top: 1px solid white; }
    .comment-list .comment .comment__nickname {
      font-weight: 700;
      font-size: 1.5em;
      color: white;
      text-align: center; }
    .comment-list .comment .comment__content {
      margin: 20px 0;
      line-height: 1.5em;
      white-space: pre-wrap;
      font-weight: 300;
      font-size: 1.2em;
      color: white;
      text-align: left; }
    .comment-list .comment .comment__additional-info {
      font-weight: 300;
      font-size: 1.0em;
      color: #E0E0E0;
      text-align: center; }

/* ==========================
 * Landing page - fullpage.js
 * ========================== */
#fullpage-container .section {
  text-align: center;
  background-color: #76252B;
  color: white; }
  #fullpage-container .section #microphone-icon {
    width: 23%;
    max-width: 100px;
    margin-bottom: 10px; }
  #fullpage-container .section #bullhorn-icon {
    margin-bottom: 20px;
    font-size: 4.0em;
    color: white; }
  #fullpage-container .section .section__phrase {
    max-width: 600px;
    margin: 0 auto;
    font-size: 2.0em;
    font-weight: 700;
    text-align: center; }
    @media screen and (min-width: 768px) {
      #fullpage-container .section .section__phrase {
        font-size: 3.2em; } }
  #fullpage-container .section .section__contents-box {
    padding: 20px 0 30px 0;
    border-top: 5px solid #E0E0E0;
    border-bottom: 5px solid #E0E0E0; }
  #fullpage-container .section .section__contents--sm {
    margin: 10px 0;
    font-size: 2.0em;
    font-weight: 700; }
  #fullpage-container .section .section__contents--lg {
    font-size: 4.0em;
    font-weight: 700; }
    @media screen and (min-width: 768px) {
      #fullpage-container .section .section__contents--lg {
        font-size: 5.5em; } }

/* =====================
 * Landing page - Footer
 * ===================== */
.landing-page__footer {
  position: fixed;
  bottom: 65px;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  z-index: 10; }
  .landing-page__footer .footer__help-message {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-style: italic;
    color: #E0E0E0; }
  .landing-page__footer .footer__chevron {
    font-weight: 700;
    font-size: 2.0em;
    color: white; }

/* =========
 * Menu page
 * ========= */
.menu__page {
  padding-bottom: 40px;
  background-color: #76252B; }
  .menu__page .menu__description {
    padding: 10px 0;
    font-weight: 500;
    font-size: 1.35em;
    color: white;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .menu__page .menu__description {
        padding: 20px 0; } }
  .menu__page .menu__list {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; }
    .menu__page .menu__list .menu {
      position: relative;
      padding: 0; }
      .menu__page .menu__list .menu .menu__image {
        max-width: 100%;
        width: 100%; }
      .menu__page .menu__list .menu .menu__title {
        position: absolute;
        top: 15px;
        left: 15px;
        display: inline;
        font-weight: 700;
        font-size: 1.5em;
        color: white; }

/* ============
 * Records page
 * ============ */
.records__tab-group {
  padding-bottom: 5px;
  background-color: #76252B; }
  .records__tab-group .tab-group {
    margin: 0 auto;
    max-width: 560px; }
    .records__tab-group .tab-group .tab-toggle {
      padding: 10px 5px; }
      .records__tab-group .tab-group .tab-toggle .active {
        border: 1px solid white;
        background-color: #862a31;
        color: white; }

.records__tab-content {
  background-color: #76252B; }
  .records__tab-content .records__youtube {
    text-align: center; }
    .records__tab-content .records__youtube iframe {
      max-width: 100%; }
  .records__tab-content .records__tab-title {
    padding: 10px 0 15px 0;
    font-weight: 700;
    font-size: 1.5em;
    color: white;
    text-align: center; }

/* =============
 * Category page
 * ============= */
.category__content {
  background-color: #76252B; }

/* ===========
 * Search page
 * =========== */
#search__form {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px; }

.search__keyword {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px 30px 10px;
  font-weight: 500;
  font-size: 1.0em;
  color: #E0E0E0;
  text-align: center; }

.search__result {
  min-height: 300px; }
  @media screen and (min-width: 768px) {
    .search__result {
      min-height: 600px; } }
  .search__result .search__title {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    border-top: 1px solid white;
    font-weight: 500;
    font-size: 1.5em;
    color: white;
    text-align: center; }

/* ============
 * Loading icon
 * ============ */
#loading-icon {
  position: fixed;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 white;
  z-index: 9999;
  -webkit-animation: loading-anim 1s linear infinite;
  -moz-animation: loading-anim 1s linear infinite;
  -ms-animation: loading-anim 1s linear infinite;
  -o-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite; }
  @media screen and (min-width: 992px) {
    #loading-icon {
      width: 120px;
      height: 120px;
      top: 50%;
      left: 50%;
      margin-top: -60px;
      margin-left: -60px; } }

/* ===============================
 * Loading icon - 3rd party 
 * Generated at http://loading.io/
 * =============================== */
@-webkit-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* ==========================
 * Blinking cursor - Typed.js
 * ========================== */
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=styles.css.map */
