/* ===============
 * Color variables
 * =============== */

$red-color: #76252B;
$gold-color: #D2AF6D;
$blue-color: #34495E;
$ivory-color: #F0EDDF; 
$grey-color: #E0E0E0;

/* ======================
 * Transparency variables
 * ====================== */

$full-transparent: rgba(0, 0, 0, 0);
$almost-transparent: rgba(0, 0, 0, 0.3);
$half-transparent: rgba(0, 0, 0, 0.5);

/* ======================
 * Device width variables
 * ====================== */

$screen-xxs-max: 320px;
$screen-xs-min: 321px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;
$screen-lg-max: 1585px;
$screen-xlg-min: 1586px;

/* =====================
 * Default tag attribute 
 * ===================== */

* {
	margin: 0;
	padding: 0;

	// Prevent from blinking when clicked
	-webkit-tap-highbase-color-light: $full-transparent;
}

html, body { 
	width: 100%;
	height: 100%;
}

body {
	// Ease effect when body DOM loads
	opacity: 0;

	// Disable double-tap-to-zoom in IE 10, 11 for fast-click
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

textarea {
	resize: none;
}

a, a:focus, a:hover, a:active, a:visited {
	text-decoration: none !important;
	cursor: pointer;
	color: inherit;
	outline: 0;
}

/* ==================
 * Override bootstrap 
 * ================== */

.container-fit {
	padding: 0;
}

/* =========================
 * Main page - Intro section 
 * ========================= */

.intro {

	.intro-image {
		width: 100%;
		max-height: 500px;
	}

	.intro-context {
		position: absolute; 
		left: 0;
		width: 100%; 
		margin: 0 auto; 
		font-weight: 700;
		color: white; 
		text-align: center;
		z-index: 10; 
		
		@media screen and (max-width: $screen-xxs-max) {
			top: 5px; 
		}
		@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
			top: 10px; 
		}
		@media screen and (min-width: $screen-sm-min) {
			top: 30px; 
		}
		
		.intro-context--roof {
			
			@media screen and (max-width: $screen-xxs-max) {
				width: 70%;
			}
			@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
				width: 75%;
			}
			@media screen and (min-width: $screen-sm-min) {
				width: 80%;
				max-width: 700px;
			}
		}
		
		.intro-context--title {
			width: 80%; 
			margin: 0 auto;
			
			@media screen and (max-width: $screen-xxs-max) {
				padding: 5px; 
				border-top: 3px solid white; 
				border-bottom: 3px solid white; 
				font-size: 2.3em; 
			}
			@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
				padding: 6px; 
				border-top: 4px solid white; 
				border-bottom: 4px solid white; 
				font-size: 2.5em; 
			}
			@media screen and (min-width: $screen-sm-min) {
				max-width: 500px; 
				padding: 15px; 
				border-top: 9px solid white; 
				border-bottom: 9px solid white; 
				font-size: 3.5em; 
			}
		}
		
		.intro-context--subtitle {
			width: 80%; 
			margin: 10px auto; 
			
			@media screen and (max-width: $screen-xxs-max) {
				font-size: 1.5em;
			}
			@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
				font-size: 1.5em;
			}
			@media screen and (min-width: $screen-sm-min) {
				max-width: 500px; 
				font-size: 2.0em;
			}
		}
		
		.intro-context--timer {
			width: 80%; 
			margin: 10px auto; 
			
			@media screen and (max-width: $screen-xxs-max) {
				font-size: 1.5em;
			}
			@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
				font-size: 1.5em;
			}
			@media screen and (min-width: $screen-sm-min) {
				max-width: 500px; 
				font-size: 2.0em;
			}
		}
	}
}

/* =======================
 * Main page - Description 
 * ======================= */

.description {
	padding: 20px 0; 
	line-height: 1.6em;
	background-color: $red-color; 
	font-weight: 700;
	color: $gold-color; 
	text-align: center;

	@media screen and (max-width: $screen-xxs-max) {
		font-size: 1.1em;
	}
	@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
		font-size: 1.2em;
	}
	@media screen and (min-width: $screen-sm-min) {
		font-size: 1.3em;
	}
}

/* ===============================
 * Main page - Spoken comment list 
 * =============================== */

.spoken-comment {
	background-color: $gold-color;
	font-weight: 700;
	color: $red-color; 
	text-align: center;

	@media screen and (max-width: $screen-xs-max) {
		padding: 10px;
	}
	@media screen and (min-width: $screen-sm-min) {
		padding: 20px;
	}

	.spoken-comment--title {
		
		@media screen and (max-width: $screen-xs-max) {
			font-size: 1.8em;
		}
		@media screen and (min-width: $screen-sm-min) {
			font-size: 2.5em;
		}
	}

	.spoken-comment--link {
		margin: 15px 0 10px 0;
		border: none;
		background-color: $red-color;
		color: white; 
	}

	.spoken-comment--list {
		width: 80%; 
		max-width: 500px; 
		margin: 10px auto 0 auto;
		
		.comment {
			
			.comment-content {
				line-height: 1.5em; 
				white-space: pre-wrap;
				font-weight: 700; 
				
				@media screen and (max-width: $screen-xs-max) {
					font-size: 1.4em;
				}
				@media screen and (min-width: $screen-sm-min) {
					font-size: 1.8em;
				}
			}
		}
	}
}

/* ============================
 * Main page - User information 
 * ============================= */

.user-info {
	padding: 15px 0;
	background-color: $red-color;
	font-weight: 700;
	color: white; 
	text-align: center;

	@media screen and (max-width: $screen-xxs-max) {
		font-size: 1.8em;
	}
	@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
		font-size: 1.9em;
	}
	@media screen and (min-width: $screen-sm-min) {
		font-size: 3.0em;
	}
}

/* ========================
 * Main page - Comment form 
 * ======================== */

#comment-form--container {
	background-color: $gold-color; 
	color: $red-color; 

	#comment-form {
		max-width: 500px; 
		margin: 0 auto;
		padding: 20px;
		
		#captcha-group {
			margin-bottom: 10px;
		}
		
		#captcha-image--container {
			padding: 0;
		}
		
		#captcha-refresh {
			cursor: pointer;
		}
		
		#captcha-value {
			height: 44px;
		}
		
		#comment-form--submit {
			background-color: #76252B; 
			border: none;
		}
	}
}

/* ========================
 * Main page - Social media
 * ======================== */

.social-media {
	background-color: $red-color; 
	color: white; 
	text-align: center;

	.social-media--youtube {
		max-width: 100%;
	}
}

/* ===================================
 * Main page - Realtime switch buttons
 * =================================== */

#realtime-switch--container {
	padding: 10px 0px; 
	border-bottom: 1px solid white; 
	background-color: $red-color; 
	color: white; 
	text-align: center;

	#realtime-switch--group {
		
		&.fixed {
			position: fixed;
			top: 0;
			left: 50%;
			margin-left: -118px;
		}
	}
}

/* ===============================
 * Main page - Recent comment list
 * =============================== */

#recent-comment--list { 
	background-color: $red-color; 
	color: white; 

	.comment {
		padding: 20px 10px; 
		border-bottom: 1px solid white;
		
		.comment-nickname {
			margin-bottom: 25px;
			font-size: 1.3em;
			text-align: center;
		}
		
		.comment-content {
			max-width: 700px; 
			margin: 0 auto; 
			line-height: 1.5em; 
			font-size: 1.3em;
			text-align: left; 
			white-space: pre-wrap;
		}
	}
}

/* ==================
 * Desk page - Header 
 * ================== */

.desk-header {

	.desk-header--image__xs {
		width: 100%; 
		margin: 0 auto; 
		z-index: 5;
	}

	.desk-header--image__lg {
		width: 100%; 
		margin: 0 auto; 
		max-height: 800px;
		z-index: 5;
	}

	.desk-header--container {
		position: absolute; 
		width: 100%; 
		margin: 0 auto; 
		color: white;
		text-align: center;
		z-index: 10; 
		
		@media screen and (max-width: $screen-xs-max) {
			top: 12px; 
		}
		@media screen and (min-width: $screen-sm-min) {
			top: 60px; 
		}
		
		.desk-header--subtitle {
			margin-top: 20px;
			font-weight: 700; 
			
			@media screen and (max-width: $screen-xs-max) {
				font-size: 2.0em; 
			}
			@media screen and (min-width: $screen-sm-min) {
				font-size: 2.5em; 
			}
		}
		
		.desk-header--timer {
			margin-bottom: 20px;
			font-weight: 700; 
			
			@media screen and (max-width: $screen-xs-max) {
				font-size: 2.0em; 
			}
			@media screen and (min-width: $screen-sm-min) {
				font-size: 2.5em; 
			}
		}
		
		.desk-header--title {
			padding: 15px 0;
			background-color: $blue-color; 
			font-weight: 700; 
			color: white; 
			
			@media screen and (max-width: $screen-xs-max) {
				font-size: 2.5em; 
			}
			@media screen and (min-width: $screen-sm-min) {
				font-size: 3.0em; 
			}
		}
	}
}

/* ===================
 * Desk page - Context
 * =================== */

.desk-context {

	.desk-context--title {
		text-align: left; 
		font-weight: 700; 
		color: white; 
		
		@media screen and (max-width: $screen-xxs-max) {
			margin-top: -150px;
			font-size: 1.9em; 
		}
		@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
			margin-top: -150px;
			font-size: 2.0em; 
		}
		@media screen and (min-width: $screen-sm-min) {
			margin-top: -180px;
			font-size: 2.5em;
		}
	}

	.desk-context--link {
		width: 100%;
		color: white;
		cursor: pointer; 
		text-align: center;
		z-index: 10;
		
		@media screen and (max-width: $screen-xs-max) {
			margin-top: -15px; 
			font-size: 2.0em; 
		}
		@media screen and (min-width: $screen-sm-min) {
			margin-top: -30px;
			font-size: 2.5em; 
		}
	}
}

/* ==========================
 * Desk page - Navigation bar
 * ========================== */

.desk-navbar {
	width: 100%; 
	height: 55px;
	text-align: center;

	.desk-navbar--title {
		width: 100%; 
		padding: 10px 0; 
		background-color: $blue-color; 
		font-size: 1.8em; 
		font-weight: 700; 
		color: white; 
		z-index: 100;
			
		&.fixed {
			position: fixed;
			top: 0;
			left: 0;
		}
	}
}

/* =======================
 * Desk page - Search form
 * ======================= */

.desk-main {
	background-color: $ivory-color;

	#search-form {
		max-width: 700px; 
		margin: 30px auto 0 auto;
	}
}

/* ===============================
 * Desk page - Spoken comment list
 * =============================== */

#spoken-comment-list {
	max-width: 700px;
	margin: 0 auto;

	.comment {
		padding: 10px; 
		border-top: 1px solid white;
		
		.comment-nickname {
			margin-bottom: 25px; 
			font-weight: 700;
			text-align: center;
		}
		
		.comment-content {
			line-height: 1.5em; 
			white-space: pre-wrap;
		}
		
		.comment-additional-info {
			padding: 1px;
			background-color: $grey-color; 
			text-align: center;
		}
	}
}

#see-more-comments {
	max-width: 700px;
	margin: 15px auto 0 auto;
	font-weight: 700;
	color: white; 
}

/* ==================
 * Desk page - Footer
 * ================== */

.desk-footer {
	position: relative;

	.desk-footer--image {
		width: 100%; 
		max-height: 300px;
		margin: 0 auto; 
		z-index: 5;
	}

	.desk-footer--btn {
		position: absolute; 
		left: 50%; 
		margin-left: -77px; 
		color: $gold-color; 
		background-color: $red-color;
		font-weight: 700;
		z-index: 10; 
		
		@media screen and (max-width: $screen-xs-max) {
			top: 25px; 
		}
		@media screen and (min-width: $screen-sm-min) {
			top: 50px; 
		}
	}
}

/* =========================
 * Social media share button
 * ========================= */

.social-media--btn-group {
	padding: 25px 0;
	text-align: center;
	
	.social-media--btn {
		display: inline;
		padding: 7px;
		
		img {
			width: 12%;
			max-width: 50px;
		}
	}
}

/* ============
 * Loading icon
 * ============ */

#loading-icon  {
	position: fixed;
	width: 60px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 white;
	z-index: 9999;
  -webkit-animation: loading-anim 1s linear infinite;
  -moz-animation: loading-anim 1s linear infinite;
  -ms-animation: loading-anim 1s linear infinite;
  -o-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;

	@media screen and (min-width: $screen-md-min) {
		width: 120px;
		height: 120px;
		top: 50%;
		left: 50%;
		margin-top: -60px;
		margin-left: -60px;
	}
}

/* ===============================
 * Loading icon - 3rd party 
 * Generated at http://loading.io/
 * =============================== */

@-webkit-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
