{% extends "base.html" %}

{% load compress %}
{% load custom_filter %}
{% load staticfiles %}

{% block social_media_meta_tags %}
<meta property="fb:app_id" content="192025411163419" />
<meta property="fb:locale" content="ko_KR" />

<meta property="og:title" content="시민 필리버스터 릴레이 방해 댓글 모음" />
<meta property="og:site_name" content="필리버스터 릴레이" />
<meta property="og:url" content="http://filibuster.me/abuse/" />
<meta property="og:description" content="시민 필리버스터 페이지를 방해한 댓글들을 모았습니다" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ 'CDN_URL'|get_settings_variable }}/share-abuse.png" />
<meta property="og:image:width" content="527" />
<meta property="og:image:height" content="326" />
<meta property="og:image:type" content="image/png" />

<meta property="twitter:meta_title" content="[필리버스터 릴레이] " />
<meta property="twitter:description" content="시민 필리버스터 릴레이 방해 댓글 모음" />
<meta property="twitter:image" content="{{ 'CDN_URL'|get_settings_variable }}/share-abuse.png" />
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:image:height" content="527">
<meta property="twitter:image:width" content="326">
{% endblock %}

{% block container %}
<input type="hidden" id="firebase-repo-url" value="{{ 'FIREBASE_REPO_URL'|get_settings_variable }}" />

<div class="container-fit">

	<div style="background-color: #D2AF6D; text-align: center; padding: 30px 0;">
		<h2 style="font-weight: 700;"><span id="abusing-comment-count"></span>개 전시 중!</h2>
		<img src="{{ 'CDN_URL'|get_settings_variable }}/abuse_head.jpg" style="max-width: 200px; margin: 0 0 -90px 0;" />
	</div>

	<div style="background-color: #E0E0E0; text-align: center; padding: 50px 0 0 0;">
		<h1 style="font-weight: 700; padding: 10px;">필리버스터 릴레이<div class="visible-xs"></div> 방해 페이지</h1>
		<img src="{{ 'CDN_URL'|get_settings_variable }}/abuse_body.jpg" style="width: 100%; max-width: 400px;" />
		<div>
			<a href="http://image.ytn.co.kr/general/jpg/2015/1218/201512181758475636_d.jpg" target="_blank" style="font-size: 0.8em; color: grey;">[출처]</a>
		</div>
		
		<div class="social-media--btn-group" style="padding-top: 15px;">
			{# Facebook #}
			<a href="https://www.facebook.com/sharer/sharer.php?u=http://filibuster.me/abuse/" target="_blank" class="social-media--btn">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/facebook.svg"/>
			</a>
			{# Twitter #}
			<a href="https://twitter.com/intent/tweet?text=[필리버스터 릴레이] 최근 시민 필리버스터 페이지를 방해한 댓글들을 모았습니다 &url=http://filibuster.me/abuse/" target="_blank" class="social-media--btn">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/twitter.png" />
			</a>
			{# Google+ #}
			<a href="https://plus.google.com/share?url=http://filibuster.me/abuse/" target="_blank" class="social-media--btn">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/google_plus.svg" />
			</a>
			{# LINE #}
			{% comment %}
			<a href="" target="_blank" class="social-media--btn" id="line-share">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/line.svg" />
			</a>
			{% endcomment %}
			{# Kakao talk #}
			<a href="javascript:;" class="social-media--btn" id="kakaotalk-share">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/kakaotalk.svg" />
			</a>
		</div>
		
		<div style="font-weight: 700; font-size: 1.3em; padding-bottom: 20px;">이 페이지를 공유해서 <div class="visible-xs"></div>방해 현장을 고발해주세요</div>
	</div>

	<div style="background-color: #D2AF6D; padding: 20px 10px;">
		<div style="max-width: 600px; margin: 0 auto; font-size: 1.5em; font-weight: 700;">
			<p>
				시민 필리버스터 페이지의 트래픽 하락을 우려해주신 방해 세력 여러분들의 열화와 같은 성원에 힘입어 방해 댓글 릴레이 페이지를 열었습니다.</p> 
				<p>
					최저시급은 6030원입니다. 꼭 받으세요.
				</p>
		</div>	
	</div>	

	<div style="background-color: #E0E0E0; padding: 20px 10px;" id="abusing-comment--list">
	</div>
</div>

<div class="comment hidden" data-comment-id="" id="comment-virtual-dom" style="max-width: 600px; margin: 20px auto; border-bottom: 2px solid white;">
	<div class="comment-nickname" style="font-weight: 700; text-align: center; font-size: 1.7em; margin-bottom: 20px;"></div>
	<div class="comment-content" style="font-weitght: 500; text-align: left; font-size: 1.3em; line-height: 1.5em; margin-bottom: 20px;"></div>
	<div class="comment-ip-address" style="font-weight: 300; text-align: center; font-size: 1.1em; margin-bottom: 20px;"></div>
</div>
{% endblock %}

{% block custom_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/abuse.js' %}"></script>
{% endcompress %}
{% endblock %}
