{% extends "base.html" %}

{% load compress %}
{% load custom_filter %}
{% load staticfiles %}

{% block social_media_meta_tags %}
<meta property="fb:app_id" content="192025411163419" />
<meta property="fb:locale" content="ko_KR" />

<meta property="og:title" content="시민 필리버스터 릴레이 방해 댓글 모음" />
<meta property="og:site_name" content="필리버스터 릴레이" />
<meta property="og:url" content="http://filibuster.me/abuse/" />
<meta property="og:description" content="시민 필리버스터 페이지를 방해한 댓글들을 모았습니다" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ 'CDN_URL'|get_settings_variable }}/share-abuse1.png" />
<meta property="og:image:width" content="801" />
<meta property="og:image:height" content="421" />
<meta property="og:image:type" content="image/png" />

<meta property="twitter:meta_title" content="[필리버스터 릴레이] " />
<meta property="twitter:description" content="시민 필리버스터 릴레이 방해 댓글 모음" />
<meta property="twitter:image" content="{{ 'CDN_URL'|get_settings_variable }}/share-abuse1.png" />
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:image:height" content="801">
<meta property="twitter:image:width" content="421">
{% endblock %}

{% block container %}
<input type="hidden" id="firebase-repo-url" value="{{ 'FIREBASE_REPO_URL'|get_settings_variable }}" />

<div class="container-fit">

	<div class="abuse-header">
		<h2 class="abuse-header--title"><span id="count-abusing-comments"></span>개 전시 중!</h2>
		<img src="{{ 'CDN_URL'|get_settings_variable }}/abuse_head.jpg" class="abuse-header--image" />
	</div>

	<div class="abuse-intro">
		<h1 class="abuse-intro--title">필리버스터 릴레이<div class="visible-xs"></div> 방해 페이지</h1>
		<img src="{{ 'CDN_URL'|get_settings_variable }}/abuse_body.jpg" class="abuse-intro--image" />
		<div>
			<a href="http://image.ytn.co.kr/general/jpg/2015/1218/201512181758475636_d.jpg" target="_blank" class="abuse-intro--image__reference">[출처]</a>
		</div>
		
		<div class="social-media--btn-group">
			{# Facebook #}
			<a href="https://www.facebook.com/sharer/sharer.php?u=http://filibuster.me/abuse/" target="_blank" class="social-media--btn">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/facebook.svg"/>
			</a>
			{# Twitter #}
			<a href="https://twitter.com/intent/tweet?text=[필리버스터 릴레이] 최근 시민 필리버스터 페이지를 방해한 댓글들을 모았습니다 &url=http://filibuster.me/abuse/" target="_blank" class="social-media--btn">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/twitter.png" />
			</a>
			{# Google+ #}
			<a href="https://plus.google.com/share?url=http://filibuster.me/abuse/" target="_blank" class="social-media--btn">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/google_plus.svg" />
			</a>
			{# LINE #}
			<a href="line://msg/text/[필리버스터 릴레이] 최근 시민 필리버스터 페이지를 방해한 댓글들을 모았습니다 http://filibuster.me/abuse/" class="social-media--btn" id="line-share">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/line.svg" />
			</a>
			{# Kakao talk #}
			<a href="javascript:;" class="social-media--btn" id="kakaotalk-share">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/kakaotalk.svg" />
			</a>
		</div>
		
		<div class="abuse-intro--share-message">
			이 페이지를 공유해서 <div class="visible-xs"></div>방해 현장을 고발해주세요
		</div>
	</div>

	<div class="abuse-alert">
		<div class="abuse-alert-message">
			<p>
				시민 필리버스터 페이지의 트래픽 하락을 우려해주신 방해 세력 여러분들의 열화와 같은 성원에 힘입어 방해 댓글 릴레이 페이지를 열었습니다.
			</p> 
			<p>
				최저시급은 6030원입니다. 꼭 받으세요.
			</p>
		</div>	
	</div>	

	<div id="abusing-comment--list"></div>
</div>

<div class="comment hidden" data-comment-id="" id="comment-virtual-dom">
	<div class="comment-nickname"></div>
	<div class="comment-content"></div>
	<div class="comment-ip-address"></div>
</div>
{% endblock %}

{% block custom_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/abuse.js' %}"></script>
{% endcompress %}
{% endblock %}
