{% extends "base.html" %}

{% load compress %}
{% load custom_filter %}
{% load staticfiles %}

{% block container %}
<div class="page__title">
	{% if request.path == '/civil_complaint/' %}
	<input type="hidden" id="category" value="civil_complaint" />
	민원
	{% elif request.path == '/law_book/' %}
	<input type="hidden" id="category" value="law_book" />
	법전
	{% elif request.path == '/story/' %}
	<input type="hidden" id="category" value="story" />
	사연
	{% elif request.path == '/quotation/' %}
	<input type="hidden" id="category" value="quotation" />
	인용
	{% elif request.path == '/resident_abroad/' %}
	<input type="hidden" id="category" value="resident_abroad" />
	재외국민
	{% elif request.path == '/letter/' %}
	<input type="hidden" id="category" value="letter" />
	편지
	{% elif request.path == '/foreign_case/' %}
	<input type="hidden" id="category" value="foreign_case" />
	해외 사례
	{% else %}
	{% endif %}
</div>

<div class="menu__navbar">
	<div class="row menu__list">
		<a href="/praise/" class="col-xs-3 col-sm-offset-1 col-sm-2 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2 menu">
			<div class="menu__title">주목과 찬사</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/praise.jpg" class="menu__image" />
		</a>
		<a href="/records/" class="col-xs-3 col-sm-2 col-md-2 col-lg-2 menu">
			<div class="menu__title">국회 영상 <div class="visible-xs"></div>속기록</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/records.jpg" class="menu__image" />
		</a>
		<a href="/story/" class="col-xs-3 col-sm-2 col-md-2 col-lg-2 menu">
			<div class="menu__title">사연</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/story.jpg" class="menu__image" />
		</a>
		<a href="/foreign_case/" class="col-xs-3 col-sm-2 col-md-2 col-lg-2 menu">
			<div class="menu__title">해외 사례</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/foreign_case.jpg" class="menu__image" />
		</a>
		<a href="/quotation/" class="col-xs-3 col-sm-2 col-md-2 col-lg-2 menu">
			<div class="menu__title">인용</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/quotation.jpg" class="menu__image" />
		</a>
		<div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
		<a href="/resident-abroad/" class="col-xs-3 col-sm-offset-1 col-sm-2 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2 menu">
			<div class="menu__title">재외국민</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/resident_abroad.jpg" class="menu__image" />
		</a>
		<a href="/letter/" class="col-xs-3 col-sm-2 col-md-2 col-lg-2 menu">
			<div class="menu__title">편지</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/letter.jpg" class="menu__image" />
		</a>
		<a href="/law_book/" class="col-xs-3 col-sm-2 col-md-2 col-lg-2 menu">
			<div class="menu__title">법전</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/law_book.jpg" class="menu__image" />
		</a>
		<a href="/civil_complaint/" class="col-xs-3 col-sm-2 col-md-2 col-lg-2 menu">
			<div class="menu__title">민원</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/civil_complaint.jpg" class="menu__image" />
		</a>
		<a href="/search/" class="col-xs-3 col-sm-2 col-md-2 col-lg-2 menu">
			<div class="menu__title">직접 검색하기</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/search.jpg" class="menu__image" />
		</a>
		<div class="col-xs-6 col-sm-1 col-md-1 col-lg-1"></div>
	</div>
</div>

<div class="category__content">
	<div class="comment-list"></div>
</div>
{% endblock %}

{% block custom_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/category.js' %}"></script>
{% endcompress %}
{% endblock %}
