{% extends "base.html" %}

{% load compress %}
{% load custom_filter %}
{% load staticfiles %}

{% block social_media_meta_tags %}
{% endblock %}

{% block container %}
<div class="container-fit">
	<div class="desk-main">
		<div class="container">
			<form class="input-group" id="search-form">
				<div class="input-group-btn">
					<input tyoe="hidden" id="category" value="nickname" />
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span data-bind="label" id="category-text">별명</span> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">주자 번호</a></li>
						<li><a href="#">별명</a></li>
						<li><a href="#">연설문 내용</a></li>
						<li><a href="#">의원명</a></li>
					</ul>
				</div>
				<input type="text" class="form-control" id="keyword" placeholder="검색 키워드를 입력해주세요" required />
				<div class="input-group-btn">
					<button type="submit" class="btn btn-default" id="search-btn">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				</div>
			</form>
			
			<div id="spoken-comment-list"></div>
		
			<button type="button" class="btn btn-defaukt btn-lg btn-block" id="see-more-comments" data-loading-text="가져오는 중입니다">
				더 보기
			</button> 
		</div>
	</div>
</div>

<div class="comment hidden" data-comment-id="" id="comment-virtual-dom">
	<h1 class="comment-nickname"></h1>
	<h4 class="comment-content"></h4>
	<div class="comment-additional-info">
		<h4 class="comment-spoken-at"></h4>
		<h4><span class="comment-speaker"></span> 의원을 통해서</h4>
	</div>
</div>
{% endblock %}

{% block custom_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/desk.js' %}"></script>
{% endcompress %}
{% endblock %}
