{% extends "base.html" %}

{% load compress %}
{% load custom_filter %}
{% load staticfiles %}

{% block social_media_meta_tags %}
<meta property="fb:app_id" content="192025411163419" />
<meta property="fb:locale" content="ko_KR" />

<meta property="og:title" content="내가 쓰는 필리버스터 연설문" />
<meta property="og:site_name" content="필리버스터 릴레이" />
<meta property="og:url" content="http://filibuster.me/" />
<meta property="og:description" content="내가 쓰면 국회의원이 읽는다. 필리버스터 연설문 보러 가기" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ 'CDN_URL'|get_settings_variable }}/share-index.png" />
<meta property="og:image:width" content="800" />
<meta property="og:image:height" content="421" />
<meta property="og:image:type" content="image/png" />

<meta property="twitter:meta_title" content="[필리버스터 릴레이] " />
<meta property="twitter:description" content="내가 쓰는 필리버스터 연설문" />
<meta property="twitter:image" content="{{ 'CDN_URL'|get_settings_variable }}/share-index.png" />
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:image:height" content="800">
<meta property="twitter:image:width" content="421">
{% endblock %}

{% block container %}
<input type="hidden" id="firebase-repo-url" value="{{ 'FIREBASE_REPO_URL'|get_settings_variable }}" />

<div class="container-fit">

	<div class="intro">
		<img src="{{ 'CDN_URL'|get_settings_variable }}/assembly.jpg" class="intro-image"/>
		
		<div class="intro-context">
			<img src="{{ 'CDN_URL'|get_settings_variable }}/assembly_roof.svg" class="intro-context--roof" />
			
			<div class="intro-context--title">
				필리버스터 릴레이
			</div>
			
			<div class="intro-context--subtitle">
				조만간 좋은 글을 모아<br/>
				여러분과 함께 결산하겠습니다
			</div>
		</div>
	</div>

	<div class="description">
		192시간 53분 동안<br/>
		진행된 필리버스터가<br/>
		종료되었습니다<br/><br/>
		지난 8일동안 참여하신<br/>
		여러분께 박수를 보냅니다
	</div>

	<div class="spoken-comment">
		<div class="spoken-comment--title">
			본회의장에 전달된
			<div class="visible-xs"></div>
			당신의 목소리
		</div>
		
		<a href="/desk/" role="button" class="spoken-comment--link btn btn-default btn-lg">
			편집실 가서 읽기
		</a>
		
		<div class="spoken-comment--list"></div>
	</div>

	<div class="user-info">
		<div class="user-info--title">
			필리버스터 중단에 즈음한<br/> 당신의 생각을 알려주세요
		</div>
	</div>

	<div id="comment-form--container">
		<form id="comment-form">
			{% csrf_token %}
			
			<input type="hidden" id="captcha-key" value="" />
			
			<div class="input-group" id="captcha-group">
				<span class="input-group-addon" id="captcha-image--container">
					<img src="" id="captcha-image" />
				</span>
				<span class="input-group-addon" id="captcha-refresh">
					<span class="glyphicon glyphicon-refresh"></span>
				</span>
				<input type="text" class="form-control" id="captcha-value" placeholder="왼쪽 문자를 입력해주세요" autocomplete="off" required  />
			</div>
			
			<div class="form-group">
				<input type="text" class="form-control" id="comment-form--nickname" maxlength="10" placeholder="사용할 별명 (최대 10자)" autocomplete="off" required />
			</div>
			
			<div class="form-group">
				<textarea class="form-control" id="comment-form--content" rows="8" maxlength="3000" placeholder="필리버스터 후기를 알려주세요 (최대 3000자)"></textarea>
			</div>
			
			<div class="alert alert-warning text-center" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
				욕설, 비방, 허위사실유포, 도배 글은 이용자의 요청에 의해 삭제될 수 있습니다
			</div>
			
			<div class="alert alert-info hidden" role="alert" id="success-message">
				<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> 
				감사합니다. 당신의 목소리가 <span id="my-comment-id"></span>번째로 전달됐습니다.
			</div>
			
			<div class="alert alert-danger hidden" role="alert" id="fail-message">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
				죄송합니다. 문자를 다시 입력해주세요.
			</div>
			
			<button type="submit" class="btn btn-danger btn-lg btn-block" id="comment-form--submit" data-loading-text="잠시만 기다려주세요">
				게시하기
			</button>
		</form>	
	</div>	

	<div class="social-media">
		<div class="social-media--btn-group">
			{# Facebook #}
			<a href="https://www.facebook.com/sharer/sharer.php?u=http://filibuster.me" target="_blank" class="social-media--btn">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/facebook.svg"/>
			</a>
			{# Twitter #}
			<a href="https://twitter.com/intent/tweet?text=[필리버스터 릴레이] 내가 쓰면 국회의원이 읽는다. 필리버스터 연설문 쓰러 가기 &url=http://filibuster.me" target="_blank" class="social-media--btn">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/twitter.png" />
			</a>
			{# Google+ #}
			<a href="https://plus.google.com/share?url=http://filibuster.me" target="_blank" class="social-media--btn">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/google_plus.svg" />
			</a>
			{# LINE #}
			<a href="line://msg/text/[필리버스터 릴레이] 내가 쓰면 국회의원이 읽는다. 필리버스터 연설물 쓰러 가기 http://filibuster.me/" class="social-media--btn" id="line-share">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/line.svg" />
			</a>
			{# Kakao talk #}
			<a href="javascript:;" class="social-media--btn" id="kakaotalk-share">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/kakaotalk.svg" />
			</a>
		</div>
	</div>

	<div id="realtime-switch--container">
		<div class="btn-group" data-toggle="buttons" id="realtime-switch--group">
			<label class="btn btn-danger active" id="realtime-switch--on">
				<input type="radio" name="options" autocomplete="off" checked /> 댓글 자동 스크롤
			</label>
			<label class="btn btn-danger" id="realtime-switch--off">
				<input type="radio" name="options" autocomplete="off" /> 댓글 스크롤 멈춤
			</label>
		</div>
	</div>

	<div id="recent-comment--list"></div>
</div>

<div class="comment hidden" data-comment-id="" id="comment-virtual-dom">
	<div class="comment-nickname"></div>
	<div class="comment-content"></div>
</div>

<div class="comment hidden" id="slide-comment--virtual-dom">
	<a href="">
		<div class="comment-content"></div>
		<h4 class="comment-spoken-at"></h4>
		<h4><span class="comment-speaker"></span> 의원을 통해</h4>
		<h4>- <span class="comment-id"></span>번째 주자</h4>
	</a>
</div>
{% endblock %}

{% block custom_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endcompress %}
{% endblock %}
