{% extends "base.html" %}

{% load compress %}
{% load custom_filter %}
{% load staticfiles %}

{% block container %}
<input type="hidden" id="firebase-repo-url" value="{{ 'FIREBASE_REPO_URL'|get_settings_variable }}" />

<div class="container-fit">

	<div class="intro">
		<img src="{{ 'CDN_URL'|get_settings_variable }}/assembly.jpg" class="intro-image"/>
		
		<div class="intro-context">
			<img src="{{ 'CDN_URL'|get_settings_variable }}/assembly_roof.svg" class="intro-context--roof" />
			
			<div class="intro-context--title">
				필리버스터 릴레이
			</div>
			
			<div class="intro-context--subtitle">
				이종걸 원내대표 기자회견까지
			</div>
			
			<div class="intro-context--timer">&nbsp;</div>
		</div>
	</div>

	<div class="description">
		테러방지법 직권상정에 대한<br/>
		필리버스터가 이어지고 있습니다.<br/>
		단상에 오르는 의원들의 입을 빌어<br/>
		하고 싶은 이야기를 적어 주세요.
	</div>

	<div class="spoken-comment">
		<div class="spoken-comment--title">
			본회의장에 전달된
			<div class="visible-xs"></div>
			당신의 목소리
		</div>
		
		<a href="/desk/" role="button" class="spoken-comment--link btn btn-default btn-lg">
			편집실 가서 읽기
		</a>
		
		<div class="spoken-comment--list"></div>
	</div>

	<div class="user-info">
		<div class="user-info--title">
			당신은 <span id="new-comment-id"></span>번째 주자입니다
		</div>
	</div>

	<div id="comment-form--container">
		<form id="comment-form">
			{% csrf_token %}
			
			<input type="hidden" id="captcha-key" value="" />
			
			<div class="input-group" id="captcha-group">
				<span class="input-group-addon" id="captcha-image--container">
					<img src="" id="captcha-image" />
				</span>
				<span class="input-group-addon" id="captcha-refresh">
					<span class="glyphicon glyphicon-refresh"></span>
				</span>
				<input type="text" class="form-control" id="captcha-value" placeholder="왼쪽 문자를 입력해주세요" autocomplete="off" required  />
			</div>
			
			<div class="form-group">
				<input type="text" class="form-control" id="comment-form--nickname" maxlength="10" placeholder="사용할 별명 (최대 10자)" autocomplete="off" required />
			</div>
			
			<div class="form-group">
				<textarea class="form-control" id="comment-form--content" rows="8" maxlength="10000" placeholder="단상에 있는 의원을 통해 하고 싶은 이야기 (최대 10,000자)"></textarea>
			</div>
			
			<div class="alert alert-warning text-center" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
				욕설, 비방, 허위사실유포, 도배 글은 이용자의 요청에 의해 삭제될 수 있습니다
			</div>
			
			<div class="alert alert-info hidden" role="alert" id="success-message">
				<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> 
				감사합니다. 당신의 목소리가 <span id="my-comment-id"></span>번째로 전달됐습니다.
			</div>
			
			<div class="alert alert-danger hidden" role="alert" id="fail-message">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
				죄송합니다. 문자를 다시 입력해주세요.
			</div>
			
			<button type="submit" class="btn btn-danger btn-lg btn-block" id="comment-form--submit" data-loading-text="잠시만 기다려주세요">
				게시하기
			</button>
			
			<div style="width: 100%; text-align: center;">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/abuse_head.jpg" style="max-width: 200px; margin: 30px auto 10px auto;" />
			</div>
			<a type="button" class="btn btn-danger btn-lg btn-block" href="/abuse/" style="color: white;">
				방해 댓글을 게시하셨다면 여기서 확인하세요 ^^
			</a>
		</form>	
	</div>	

	<div class="social-media">
		<div class="social-media--btn-group">
			{# Facebook #}
			<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.필리버스터.com" target="_blank" class="social-media--btn">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/facebook.svg"/>
			</a>
			{# Twitter #}
			<a href="https://twitter.com/intent/tweet?text=[필리버스터 릴레이] 내가 쓰면 국회의원이 읽는다. 필리버스터 연설문 쓰러 가기 &url=http://www.필리버스터.com" target="_blank" class="social-media--btn" id="twitter-share">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/twitter.png" />
			</a>
			{# Google+ #}
			<a href="https://plus.google.com/share?url=http://filibuster.me" target="_blank" class="social-media--btn">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/google_plus.svg" />
			</a>
			{# LINE #}
			{% comment %}
			<a href="" target="_blank" class="social-media--btn" id="line-share">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/line.svg" />
			</a>
			{% endcomment %}
			{# Kakao talk #}
			<a href="javascript:;" class="social-media--btn" id="kakaotalk-share">
				<img src="{{ 'CDN_URL'|get_settings_variable }}/kakaotalk.svg" />
			</a>
		</div>
		
		<iframe width="560" height="315" src="https://www.youtube.com/embed/NAf3G5UQSYQ" class="social-media--youtube" frameborder="0" allowfullscreen></iframe>
	</div>

	<div id="realtime-switch--container">
		<div class="btn-group" data-toggle="buttons" id="realtime-switch--group">
			<label class="btn btn-danger active" id="realtime-switch--on">
				<input type="radio" name="options" autocomplete="off" checked /> 댓글 자동 스크롤
			</label>
			<label class="btn btn-danger" id="realtime-switch--off">
				<input type="radio" name="options" autocomplete="off" /> 댓글 스크롤 멈춤
			</label>
		</div>
	</div>

	<div id="recent-comment--list"></div>
</div>

<div class="comment hidden" data-comment-id="" id="comment-virtual-dom">
	<div class="comment-nickname"></div>
	<div class="comment-content"></div>
</div>

<div class="comment hidden" id="slide-comment--virtual-dom">
	<a href="">
		<div class="comment-content"></div>
		<h4 class="comment-spoken-at"></h4>
		<h4><span class="comment-speaker"></span> 의원을 통해</h4>
		<h4>- <span class="comment-id"></span>번째 주자</h4>
	</a>
</div>
{% endblock %}

{% block custom_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endcompress %}
{% endblock %}
