{% extends "base.html" %}

{% load compress %}
{% load custom_filter %}
{% load staticfiles %}

{% block fullpage_container %}
<div id="fullpage-container">
	<div class="section">
		<div class="container">
			<div class="section__contents-box">
				<div class="section__contents--sm">
					국회 필리버스터
				</div>
				<div class="section__contents--lg">
					192시간<br/>
					53분<br/>
					24초<span class="typed-cursor">|</span>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<img src="{{ 'CDN_URL'|get_settings_variable }}/assets/microphone.svg" id="microphone-icon" />
			<div class="section__contents-box">
				<div class="section__contents--lg">
					<span id="speaker-list">세계<span class="typed-cursor">|</span></span>
				</div>
				<div class="section__contents--lg">
					기록
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<div class="section__contents-box">
				<div class="section__contents--sm">
					시민 필리버스터
				</div>
				<div class="section__contents--lg">
					<span id="total-comments">&nbsp;</span>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<span class="glyphicon glyphicon-bullhorn" aria-hidden="true" id="bullhorn-icon"></span>
			<div class="section__contents-box">
				<div class="section__contents--lg">
					<span id="nickname-list">&nbsp;</span>
				</div>
				<div class="section__contents--lg">
					기록
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<div class="section__contents-box">
				<div class="section__phrase">
					국회 연설은 끝났지만, 
					<div class="hidden-xs"></div>
					우리가 전하고자 했던 
					<div class="hidden-xs"></div>
					얘기는 끝나지 않았습니다.
					<br/><br/>
					침묵하지 않는 시민을 응원합니다.
				</div>
			</div>
		</div>
	</div>

	{# Empty section is required to fire appropriate events #}
	<div class="section"></div>
</div>

<div class="landing-page__footer" style="opacity: 0;">
	<div class="footer__help-message">
		다음 페이지로 가기
	</div>
	<br/>
	<span class="glyphicon glyphicon-chevron-down footer__chevron" aria-hidden="true"></span>
</div>
{% endblock %}

{% block custom_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/landing.js' %}"></script>
{% endcompress %}
{% endblock %}
