{% extends "base.html" %}

{% load compress %}
{% load custom_filter %}
{% load staticfiles %}

{% block container %}
<div class="menu__page">
	<div class="container">
		<div class="menu__description">
			8일간의 기록을 기념하고자 
			<div class="visible-xs"></div>
			여러분의 소중한 말씀을 엮었습니다
		</div>
	</div>
	<div class="row menu__list">
		<a href="/praise/" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 menu">
			<div class="menu__title">주목과 찬사</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/praise.jpg" class="menu__image" />
		</a>
		<a href="/records/" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 menu">
			<div class="menu__title">국회 영상 속기록</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/records.jpg" class="menu__image" />
		</a>
		<a href="/story/" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 menu">
			<div class="menu__title">사연</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/story.jpg" class="menu__image" />
		</a>
		<a href="/foreign_case/" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 menu">
			<div class="menu__title">해외 사례</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/foreign_case.jpg" class="menu__image" />
		</a>
		<a href="/quotation/" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 menu">
			<div class="menu__title">인용</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/quotation.jpg" class="menu__image" />
		</a>
		<a href="/resident_abroad/" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 menu">
			<div class="menu__title">재외국민</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/resident_abroad.jpg" class="menu__image" />
		</a>
		<a href="/letter/" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 menu">
			<div class="menu__title">편지</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/letter.jpg" class="menu__image" />
		</a>
		<a href="/law_book/" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 menu">
			<div class="menu__title">법전</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/law_book.jpg" class="menu__image" />
		</a>
		<a href="/civil_complaint/" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 menu">
			<div class="menu__title">민원</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/civil_complaint.jpg" class="menu__image" />
		</a>
		<a href="/search/" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 menu">
			<div class="menu__title">직접 검색하기</div>
			<img src="{{ 'CDN_URL'|get_settings_variable }}/menu/search.jpg" class="menu__image" />
		</a>
	</div>
</div>
{% endblock %}

{% block custom_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
{% endcompress %}
{% endblock %}
