{% extends "base.html" %}

{% load compress %}
{% load custom_filter %}
{% load staticfiles %}

{% block container %}
<div class="page__title">
	주목과 찬사
</div>

<div class="praise__page">

	<div class="praise__summary">
		필리버스터 시작 후 <u>10시간</u>만에 급히 만들어진 사이트에 <u>11일</u>동안 누적 <u>30만여명의 시민</u>들이 들어오셔서 <u>38,000여개의 소중한 글</u>들을 남겨주셨습니다. 페이스북, 카카오톡, 트위터에서 <u>3,000여건의 공유</u>가 이뤄졌고, <u>15,500여명</u>이 좋아요를 눌러서 공감을 해주셨습니다. 그 목소리가 국회까지 전해져 <u>7명의 국회의원</u>들이 본회의장에서 우리의 목소리를 언급하고 글을 낭독하기도 했습니다.
	</div>

	<a href="/records/">
		<button type="button" class="btn btn-default btn-block btn-lg praise__records-link">
			<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> 
			국회의원들이 읽는 영상 보러가기
		</button>
	</a>

	<div class="praise__news-title">
		우리가 다뤄진 뉴스 기사들
	</div>

	<div class="praise__news-list">
		<a href="http://www.hani.co.kr/arti/society/society_general/731851.html" target="_blank">디지털에서 필리버스터 발언하세요</a>
		<a href="http://www.sisainlive.com/news/articleView.html?idxno=25520" target="_blank">'디지털 게릴라' 네트워크 딛고 참여를 조직하다</a>
		<a href="http://www.hankookilbo.com/v/b3ac6fe6def84df6870809d6ca377a89" target="_blank">5가지 유형으로 즐기는 '필리 페스티벌'</a>
		<a href="http://www.wowtv.co.kr/newscenter/news/view.asp?bcode=T30001000&artid=A201602250128" target="_blank">필리버스터, 국회의원들에 하고 싶은 말 있다면?</a>
		<a href="http://www.ohmynews.com/NWS_Web/View/at_pg.aspx?CNTN_CD=A0002184574" target="_blank">"의원들의 입 빌려드려요" 필리버스터, 시민도 참여</a>
		<a href="http://news.khan.co.kr/kh_news/khan_art_view.html?artid=201602282050315&code=990100" target="_blank">[지금 SNS에선] 필리버스터 축제</a>
		<a href="http://www.wikitree.co.kr/main/news_view.php?id=250977" target="_blank">필리버스터 의원에 하고 싶은 말 남기는 사이트 등장</a>
		<a href="http://www.zdnet.co.kr/column/column_view.asp?artice_id=20160225132759&type=det&re=" target="_blank">필리버스터 진화…산업시대 vs 소셜시대</a>
	</div>
</div>
{% endblock %}
