{% extends "base.html" %}

{% load compress %}
{% load custom_filter %}
{% load staticfiles %}

{% block container %}
<div class="page__title">
	국회 영상 속기록
</div>

<div class="records__tab-group">
	<div class="row tab-group">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tab-toggle">
			<button type="button" class="btn btn-default btn-block active" id="tab-toggle--1" href="#tab--1" data-toggle="tab">
				김제남 의원
			</button>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tab-toggle">
			<button type="button" class="btn btn-default btn-block" id="tab-toggle--2" href="#tab--2" data-toggle="tab">
				서영교 의원
			</button>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tab-toggle">
			<button type="button" class="btn btn-default btn-block" id="tab-toggle--3" href="#tab--3" data-toggle="tab">
				최민희 의원
			</button>
		</div>
	</div>
</div>

<div class="records__tab-content">
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="tab--1">
			<div class="records__youtube">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/05CvUfouSDI" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="container">
				<div class="records__tab-title">
					이외 김제남 의원이 <div class="visible-xs"></div>
					국회 본회의장에서 <div class="visible-xs"></div>
					읽은 시민 의견
				</div>
			</div>
			<div class="comment-list"></div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="tab--2">
			<div class="records__youtube">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/mnhTM5xlfmw" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="container">
				<div class="records__tab-title">
					이외 서영교 의원이 <div class="visible-xs"></div>
					국회 본회의장에서 <div class="visible-xs"></div>
					읽은 시민 의견
				</div>
			</div>
			<div class="comment-list"></div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="tab--3">
			<div class="records__youtube">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/lfdJjUhYatc" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="container">
				<div class="records__tab-title">
					이외 최민희 의원이 <div class="visible-xs"></div>
					국회 본회의장에서 <div class="visible-xs"></div>
					읽은 시민 의견
				</div>
			</div>
			<div class="comment-list"></div>
		</div>
	</div>
</div>
{% endblock %}

{% block custom_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/records.js' %}"></script>
{% endcompress %}
{% endblock %}
