{% extends "base.html" %}

{% load compress %}
{% load custom_filter %}
{% load staticfiles %}

{% block container %}
<div class="container-fit text-center">

	<div class="visible-xs">
		<img src="{{ 'CDN_URL'|get_settings_variable }}/header_xs.jpg" style="width: 100%; margin: 0 auto; z-index: 5;" />

		<div style="position: absolute; width: 100%; top: 12px; z-index: 10; margin: 0 auto; color: white; font-weight: bold;">
			<div class="space"></div>
			
			<div style="font-size: 2.0em; font-weight: 700;">임시국회 폐회까지</div>
			<div style="font-size: 2.0em; font-weight: 700;" class="due-timer"></div>
			
			<div class="space"></div>
			
			<div style="background-color: rgb(52, 73, 94); font-size: 2.5em; font-weight: bold; color: white; padding: 15px 0;">
				필리버스터 편집실
			</div>
		</div>
	</div>

	<div class="hidden-xs">
		<img src="{{ 'CDN_URL'|get_settings_variable }}/header_lg.jpg" style="width: 100%; margin: 0 auto; z-index: 5;" />

		<div style="position: absolute; width: 100%; top: 60px; z-index: 10; margin: 0 auto; color: white; font-weight: bold;">
			<div class="space"></div>
			
			<div style="font-size: 2.5em; font-weight: 700;">임시국회 폐회까지</div>
			<div style="font-size: 2.5em; font-weight: 700;" class="due-timer"></div>
			
			<div class="space"></div>
			
			<div style="background-color: rgb(52, 73, 94); font-size: 2.5em; font-weight: bold; color: white; padding: 15px 0;">
				필리버스터 편집실
			</div>
		</div>
	</div>

	<div class="container">
		<div class="visible-xs">
			<div style="text-align: left; font-size: 2.0em; font-weight: 700; color: white; margin-top: -150px;">
				당신이 쓴 연설문,<br/>
				국회 본회의장에서 읽히고<br/>
				있습니다.
			</div>
			<div style="cursor: pointer; font-size: 1.2em; margin-top: -30px; color: white;">
				<span class="glyphicon glyphicon-menu-down go-to-main-container" aria-hidden="true" style="font-size: 2.5em;"></span>
			</div>
		</div>
		<div class="hidden-xs">
			<div style="text-align: left; font-size: 2.5em; font-weight: 700; color: white; margin-top: -150px;">
				당신이 쓴 연설문,<br/>
				국회 본회의장에서 읽히고<br/>
				있습니다.
			</div>
			<div style="cursor: pointer; font-size: 1.5em; margin-top: -60px; color: white;">
				<span class="glyphicon glyphicon-menu-down go-to-main-container" aria-hidden="true" style="font-size: 2.5em;"></span>
			</div>
		</div>
	</div>

	<div id="search-navbar" style="width: 100%; height: 55px;">
		<div id="navbar-text" style="width: 100%; background-color: rgb(52, 73, 94); font-size: 1.8em; font-weight: bold; color: white; padding: 10px 0; z-index: 1000;">필리버스터 편집실</div>
	</div>

	<div style="background-color: rgb(240, 237, 223);">
		<div class="container">
			<form class="input-group" id="search-form" style="max-width: 700px; margin: 30px auto 0 auto;">
				<div class="input-group-btn">
					<input tyoe="hidden" id="category" value="nickname" />
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span data-bind="label" id="category-text">별명</span> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">주자 번호</a></li>
						<li><a href="#">별명</a></li>
						<li><a href="#">연설문 내용</a></li>
						<li><a href="#">의원명</a></li>
					</ul>
				</div>
				<input type="text" class="form-control" id="keyword" placeholder="검색 키워드를 입력해주세요" required />
				<div class="input-group-btn">
					<button type="submit" class="btn btn-default" id="search-btn">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				</div>
			</form>
			
			<div class="share-btn-group">
				{# Facebook #}
				<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.필리버스터.com" target="_blank" class="share-btn">
					<img src="{{ 'CDN_URL'|get_settings_variable }}/facebook.svg"/>
				</a>
				{# Twitter #}
				<a href="https://twitter.com/intent/tweet?text=[필리버스터 릴레이: 편집실] 국회 본회의장에서 내가 쓴 글이 읽혔습니다. 당신도 참여하세요! &url=http://www.필리버스터.com" target="_blank" class="share-btn" id="twitter-share">
					<img src="{{ 'CDN_URL'|get_settings_variable }}/twitter.png" />
				</a>
				{# Google+ #}
				<a href="https://plus.google.com/share?url=http://filibuster.me" target="_blank" class="share-btn">
					<img src="{{ 'CDN_URL'|get_settings_variable }}/google_plus.svg" />
				</a>
				{# LINE #}
				<a href="//line.me/R/msg/text/?%5B%ED%95%84%EB%A6%AC%EB%B2%84%EC%8A%A4%ED%84%B0%20%EB%A6%B4%EB%A0%88%EC%9D%B4%3A%20%ED%8E%B8%EC%A7%91%EC%8B%A4%5D%20%EA%B5%AD%ED%9A%8C%20%EB%B3%B8%ED%9A%8C%EC%9D%98%EC%9E%A5%EC%97%90%EC%84%9C%20%EB%82%B4%EA%B0%80%20%EC%93%B4%20%EA%B8%80%EC%9D%B4%20%EC%9D%BD%ED%98%94%EC%8A%B5%EB%8B%88%EB%8B%A4.%20%EB%8B%B9%EC%8B%A0%EB%8F%84%20%EC%B0%B8%EC%97%AC%ED%95%98%EC%84%B8%EC%9A%94!%20http%3A%2F%2Fwww.%ED%95%84%EB%A6%AC%EB%B2%84%EC%8A%A4%ED%84%B0.me%20http%3A%2F%2Fwww.%ED%95%84%EB%A6%AC%EB%B2%84%EC%8A%A4%ED%84%B0.me%0Ahttp%3A%2F%2F192.168.99.100%3A32768%2Fsearch%2F" target="_blank" class="share-btn line-share">
					<img src="{{ 'CDN_URL'|get_settings_variable }}/line.svg" />
				</a>
				{# Kakao talk #}
				<a href="javascript:;" class="share-btn kakaotalk-share">
					<img src="{{ 'CDN_URL'|get_settings_variable }}/kakaotalk.svg" />
				</a>
			</div>
			
			<div id="comment-list" style="max-width: 700px; margin: 0 auto;"></div>

			<button type="button" class="btn btn-defaukt btn-lg btn-block" id="see-more-comments" data-loading-text="가져오는 중입니다" style="color: white; margin-bottom: 15px;">더 보기</button> 
		</div>

		<div class="visible-xs" style="position: relative;">
			<img src="{{ 'CDN_URL'|get_settings_variable }}/footer_xs.jpg" style="width: 100%; margin: 0 auto; z-index: 5;" />
			<a href="/" role="button" class="btn btn-default btn-lg" style="position: absolute; top: 25px; left: 50%; margin-left: -67px; z-index: 10; color: rgb(241, 196, 15); background-color: rgb(118, 37, 43); font-weight: 700;">
				연설문 쓰러 가기
			</a>
		</div>
		
		<div class="hidden-xs" style="position: relative;">
			<img src="{{ 'CDN_URL'|get_settings_variable }}/footer_lg.jpg" style="width: 100%; margin: 0 auto; z-index: 5;" />
			<a href="/" role="button" class="btn btn-default btn-lg" style="position: absolute; top: 50px; left: 50%; margin-left: -67px; z-index: 10; color: rgb(241, 196, 15); background-color: rgb(118, 37, 43); font-weight: 700;">
				연설문 쓰러 가기
			</a>
		</div>
	</div>
</div>

<div class="comment hidden" data-comment-id="" id="comment-virtual-dom" style="padding: 10px; border-top: 1px solid white;">
	<h1 class="comment-nickname" style="margin-bottom: 25px; font-weight: 700;"></h1>
	<h4 class="comment-content" style="line-height: 1.5em; text-align: left; white-space: pre-wrap;"></h4>
	<div style="background-color: rgb(224, 224, 224); padding: 1px;">
		<h4 class="comment-created-at">2016년 2월 25일</h4>
		<h4><span class="comment-speaker"></span> 의원을 통해서</h4>
	</div>

	<div class="share-btn-group">
		{# Facebook #}
		<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.필리버스터.com" target="_blank" class="share-btn">
			<img src="{{ 'CDN_URL'|get_settings_variable }}/facebook.svg"/>
		</a>
		{# Twitter #}
		<a href="https://twitter.com/intent/tweet?text=[필리버스터 릴레이: 편집실] 국회 본회의장에서 내가 쓴 글이 읽혔습니다. 당신도 참여하세요! &url=http://www.필리버스터.com" target="_blank" class="share-btn">
			<img src="{{ 'CDN_URL'|get_settings_variable }}/twitter.png" />
		</a>
		{# Google+ #}
		<a href="https://plus.google.com/share?url=http://filibuster.me" target="_blank" class="share-btn">
			<img src="{{ 'CDN_URL'|get_settings_variable }}/google_plus.svg" />
		</a>
		{# LINE #}
		<a href="//line.me/R/msg/text/?%5B%ED%95%84%EB%A6%AC%EB%B2%84%EC%8A%A4%ED%84%B0%20%EB%A6%B4%EB%A0%88%EC%9D%B4%3A%20%ED%8E%B8%EC%A7%91%EC%8B%A4%5D%20%EA%B5%AD%ED%9A%8C%20%EB%B3%B8%ED%9A%8C%EC%9D%98%EC%9E%A5%EC%97%90%EC%84%9C%20%EB%82%B4%EA%B0%80%20%EC%93%B4%20%EA%B8%80%EC%9D%B4%20%EC%9D%BD%ED%98%94%EC%8A%B5%EB%8B%88%EB%8B%A4.%20%EB%8B%B9%EC%8B%A0%EB%8F%84%20%EC%B0%B8%EC%97%AC%ED%95%98%EC%84%B8%EC%9A%94!%20http%3A%2F%2Fwww.%ED%95%84%EB%A6%AC%EB%B2%84%EC%8A%A4%ED%84%B0.me%20http%3A%2F%2Fwww.%ED%95%84%EB%A6%AC%EB%B2%84%EC%8A%A4%ED%84%B0.me%0Ahttp%3A%2F%2F192.168.99.100%3A32768%2Fsearch%2F" target="_blank" class="share-btn line-share">
			<img src="{{ 'CDN_URL'|get_settings_variable }}/line.svg" />
		</a>
		{# Kakao talk #}
		<a href="javascript:;" class="share-btn kakaotalk-share">
			<img src="{{ 'CDN_URL'|get_settings_variable }}/kakaotalk.svg" />
		</a>
	</div>
</div>
{% endblock %}

{% block custom_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% endcompress %}
{% endblock %}
