{% extends "base.html" %}

{% load compress %}
{% load custom_filter %}
{% load staticfiles %}

{% block container %}
<div class="container">
	<div class="social-media--btn-group">
		{# Facebook #}
		<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.필리버스터.com" target="_blank" class="social-media--btn">
			<img src="{{ 'CDN_URL'|get_settings_variable }}/facebook.svg"/>
		</a>
		{# Twitter #}
		<a href="https://twitter.com/intent/tweet?text=[필리버스터 릴레이] 내가 쓰면 국회의원이 읽는다. 필리버스터 연설문 쓰러 가기 &url=http://www.필리버스터.com" target="_blank" class="social-media--btn" id="twitter-share">
			<img src="{{ 'CDN_URL'|get_settings_variable }}/twitter.png" />
		</a>
		{# Google+ #}
		<a href="https://plus.google.com/share?url=http://filibuster.me" target="_blank" class="social-media--btn">
			<img src="{{ 'CDN_URL'|get_settings_variable }}/google_plus.svg" />
		</a>
		{# LINE #}
		{% comment %}
		<a href="" target="_blank" class="social-media--btn" id="line-share">
			<img src="{{ 'CDN_URL'|get_settings_variable }}/line.svg" />
		</a>
		{% endcomment %}
		{# Kakao talk #}
		<a href="javascript:;" class="social-media--btn" id="kakaotalk-share">
			<img src="{{ 'CDN_URL'|get_settings_variable }}/kakaotalk.svg" />
		</a>
	</div>
</div>
{% endblock %}

{% block custom_js %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/test.js' %}"></script>
{% endcompress %}
{% endblock %}
